*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins,sans-serif;
}

body{

background:#eef3f8;

display:flex;

justify-content:center;

padding:40px;

}

.container{

width:650px;

max-width:95%;

}

header{

text-align:center;

margin-bottom:25px;

}

header h1{

color:#1565c0;

}

.card{

background:white;

padding:30px;

border-radius:18px;

box-shadow:0 8px 20px rgba(0,0,0,.08);

}

label{

display:block;

margin-top:18px;

margin-bottom:8px;

font-weight:600;

}

select,input{

width:100%;

padding:12px;

border-radius:10px;

border:1px solid #ccc;

}

hr{

margin:30px 0;

}

.player{

display:flex;

justify-content:space-between;

align-items:center;

padding:12px;

border-bottom:1px solid #eee;

}

.player label{

margin:0;

font-weight:500;

}

button{

margin-top:30px;

width:100%;

padding:15px;

border:none;

border-radius:12px;

background:#1565c0;

color:white;

font-size:17px;

cursor:pointer;

}

button:hover{

background:#0d47a1;

}

footer{

text-align:center;

margin-top:25px;

color:gray;

}
