*{

margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins,sans-serif;

}


body{

background:#eef3f8;

display:flex;

justify-content:center;

padding:40px;

}


.container{

width:600px;

max-width:95%;

}


header{

text-align:center;

margin-bottom:30px;

}


header h1{

color:#1565c0;

font-size:32px;

}


header p{

color:#666;

}



.card{

background:white;

padding:30px;

border-radius:20px;

box-shadow:0 10px 25px rgba(0,0,0,.08);

}



label{

display:block;

font-weight:600;

margin-top:15px;

margin-bottom:8px;

}



input,
select{

width:100%;

padding:13px;

border-radius:10px;

border:1px solid #ccc;

font-size:16px;

}



h2{

margin-top:30px;

margin-bottom:15px;

}



.player{

display:flex;

justify-content:space-between;

align-items:center;

padding:12px;

border-bottom:1px solid #eee;

}



.player-name{

font-size:16px;

}



.player input{

width:20px;

height:20px;

}



button{

width:100%;

margin-top:30px;

padding:15px;

border:none;

border-radius:12px;

background:#1565c0;

color:white;

font-size:17px;

cursor:pointer;

}



button:hover{

background:#0d47a1;

}



footer{

text-align:center;

margin-top:25px;

color:#777;

}
